.dropdown {
    background: var(--background-secondary);
    width: 120px !important;
    min-width: 0;
    box-shadow: 0 4px 8px var(--background-primary);
}

.sort__item {
    & > * {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    * {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
    }

    .sort__dir_asc,
    .sort__dir_dsc {
        transition: 300ms linear;
    }
    .sort__dir_asc {
        transform: rotate(0deg);
    }
    .sort__dir_dsc {
        transform: rotate(180deg);
    }
}

#sort__item-active {
    background: var(--secondary-flat);
}
