.project_structure-extend {
    --tree-bg: var(--secondary-300);
}
.project_structure-unextend {
    --tree-bg: var(--default-800);
    .project__tree {
        display: none;
    }
}

.project__tree {
    padding-left: 8px;
}

.project__struct__sub {
    border-left: 1px solid var(--tree-bg);

    & .project__struct__sub {
        border-left: 1px solid var(--tree-bg);
        margin-left: 24px;
    }

    .struct__node {
        padding-left: 24px;
    }
}
.child__files {
    padding-left: 24px;
}

.struct__node,
.struct__root {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 8px;

    &:hover {
        background: var(--tree-bg);
    }
}
.struct__node,
.sub__project__root {
    position: relative;
    font-size: var(--text-size-small);
    padding-left: 24px;

    &::before,
    &::after {
        position: absolute;
        content: '';
        background: var(--tree-bg);
        left: 0;
    }

    &::before {
        width: 24px;
        height: 1px;
    }
    &::after {
        width: 1px;
        height: 100%;
        transform: translateY(-50%);
    }

    & .struct__node {
        padding-left: 16px;
    }
}
.sub__project__root {
    &::after {
        width: 1px;
        left: -1px;
    }
}
